h1 {
    font: Verdana;
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
}

p {
    font: 'Black Han Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

body {
    text-align: center;
    background-color: aliceblue;
}

#download-button {
    display: block;
    margin: 30px auto;
    padding: 30px 60px; /* Further increased padding */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px; /* Further increased font size */
    font-weight: bold;
    text-align: center;
}

